<footer class="footer bg-dark py-2 mt-auto" id="footer">
    <div class="container">
        <span class="text-muted">
            <div class="text-center footer" id="footer-text">
                &copy; Findr 2023
            </div>
        </span>
    </div>
</footer>