<% layout('layouts/boilerplate') %>
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Find and Share</br>the perfect PLACE</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">Taking you right where you need to be</h2>
            <h3 data-aos="fade-up" data-aos-delay="200">with <b>FINDR</b></h3>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/locations" class="btn-get-started d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Jump In</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <picture>
          <source media="(min-width: 600px)" srcset="">
          <img src="assets/User.jpg" height= "397" width= "625" class="img-fluid" alt="banner">
        </picture>
        </div>
      </div>
    </div>
  </section>

<div class="container">
  <div class="wrapper mt-2 mb-2">
    <img src="assets/banner-bar.jpg" class="img-fluid w-100" alt="search field on top of a burger shop banner">
    <div class="search-wrapper">
      <input type="search" class="form-control" placeholder="Search for your next destination..." />
      <input type="button" class="btn btn btn-primary" name="search_button" id="search_button" value="Search"/>
    </div>
  </div>
</div>


  <section id="values" class="values">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>We have the variety</h2>
        <p>Places to visit, trips to take, everything to experience and REVIEW</p>
      </header>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/banner-social.jpg" class="img-fluid" alt="social network">
            <span class="counter display-3 d-block">
            <%= users %>
            </span>
            <h3>Users</h3>
            <p>Whom with you can share your experience</p>
          </div>
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/CreatePost.jpg" class="img-fluid" alt="designing page with paint">
            <span class="counter display-3 d-block"><%= posts %></span>
            <h3>Posts</h3>
            <p>From which you can pick for your next adventure</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/blogs.jpg" class="img-fluid" alt="building page with code">
            <span class="counter display-3 d-block"><%= reviews %></span>
            <h3>Reviews</h3>
            <p>Where you can found out about people's great stories</p>
          </div>
        </div>
      </div>
    </div>
    <br>
  </section>