<% layout('layouts/boilerplate') %>
    <div class="d-flex justify-content-center">
          <div class="col-6">
            <h2>Edit rating and review</h2>
            <form action="/reviews/<%= idData._id %>/<%= reviewData._id %>/edit" method="PUT" class="mb-3 validate-form" novalidate>
              <div class="card">
                <div class="row">
                    <div class="col-2">
                        <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="70" class="rounded-circle mt-4 offset-2">
                    </div>
                    <div class="col-10">
                        <div class="comment-box ml-2">
                            <br>
                            <label for="rating"><b>Username</b></label>
                            <hr>
                            <div class="rating" name="review[rating]" id="rating">
                                <input type="radio" name="review[rating]" value="5" id="5"><label for="5">☆</label>
                                <input type="radio" name="review[rating]" value="4" id="4"><label for="4">☆</label> 
                                <input type="radio" name="review[rating]" value="3" id="3"><label for="3">☆</label>
                                <input type="radio" name="review[rating]" value="2" id="2"><label for="2">☆</label>
                                <input type="radio" name="review[rating]" value="1" id="1" <%= reviewData.rating %> required="required"/><label for="1">☆</label>
                            </div>
                            <div class="comment-area">
                                <textarea class="form-control" name="review[comment]" id="comment" cols="30" rows="4" required="required" placeholder="Add a comment..."><%= reviewData.comment %></textarea>
                            </div>
                            <div class="comment-btns mt-3">
                                <div class="row">
                                    <div class="">
                                        <div class="pull-left">
                                        <button class="btn btn-info">Edit review</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
          </form>
        </div>
    </div>
    <!-- REVIEW / COMMENTS CSS & JS SCRIPT -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
  
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      padding: 20px;
      width: 100%;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border-radius: 6px;
  };
  
  .comment-box{
      
      padding: 10px;
  }
  
  .comment-area textarea{
     resize: none; 
          border: 1px solid #ad9f9f;
  }
  
  
  .form-control:focus {
      color: #1a1a1a;
      background-color: #fff;
      border-color: #ffffff;
      outline: 0;
      box-shadow: 0 0 0 1px #0dcaf0 !important;
  }
  
  .rating {
   display: flex;
      margin-top: -10px;
      flex-direction: row-reverse;
      margin-left: -4px;
      float: left;
  }
  
  .rating>input {
      display: none
  }
  
  .rating>label {
          position: relative;
      width: 19px;
      font-size: 25px;
      color: #ffd000;
      cursor: pointer;
  }
  
  .rating>label::before {
      content: "\2605";
      position: absolute;
      opacity: 0
  }
  
  .rating>label:hover:before,
  .rating>label:hover~label:before {
      opacity: 1 !important
  }
  
  .rating>input:checked~label:before {
      opacity: 1
  }
  
  .rating:hover>input:checked~label:before {
      opacity: 0.4
  }
  </style>